<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.myblog.mapper.TagExtMapper">

  <resultMap id="BaseResultMap" type="com.seven.myblog.model.Tag">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="listTagByBlogId" parameterType="long" resultType="Tag">
    SELECT t.*
    FROM blog b
    LEFT OUTER JOIN blog_tag bt ON b.id=bt.blog_id
    LEFT OUTER JOIN tag t ON bt.tag_id=t.id
    WHERE b.id=#{id}

  </select>

</mapper>